<!DOCTYPE html>
<html>
<a href = "/cat" ><img src="/images/cat.jpeg" alt = "a cat" width = "150" height = "100"></a>
<h1> Hi, April, welcome to Grandma's server!</h1>

<%# <img src="/cat.jpeg" alt = "Reading Nook logo" width = "150" height = "100"></a> %>
</html>